@import "tailwindcss";

:root {
  --primary: #FF5A5F;
  --dark-text: #484848;
  --secondary-text: #767676;
  --border: #EBEBEB;
  --background: #F7F7F7;
  --success: #008A05;
  --warning: #FFB400;
  --error: #C13515;
}
